<br>
<br>
<main class="form-signin">

  <%= form_for @user do |f| %>

    <div class="text-center mb-4">
      <%= image_tag "divideicon2.png", class: 'mb-4', style: 'height: 100px; width: 100px;' %>
      <h2>DivisioN</h2>
    </div>
  
    <%= f.label 'Profile Photo' %>:
    <%= f.file_field :avatar, class: "form-control btn-sm" %><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
  <% end %>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2021 2-Slice-Gaming</p>
</main>
   






 
 
 
 
 
 
 
 
 

