<h1>Users List!</h1>

<ul>
    <% @users.collect do |user| %>
    <li><%=link_to user.username, user_path(user) %> - <%= user.email %>
<% if user.avatar.attached? %>
 <img src="<%=(url_for(user.avatar))%>" width="100" height="100" class="img-fluid img-thumbnail"> </li>
<% end %>
    <% end %>
</ul>