
   <div class="col-md-2">
            <div class="list-group">    
                &nbsp&nbsp&nbsp<h1>&nbsp&nbsp&nbsp Users List!</h1>
               
                <%@users.each do |u| %>
                    <% if u.avatar.attached? %>
                <li class="list-group-item list-group-item-action list-group-item-dark bg-primary" ><img src="<%=(url_for(u.avatar)) %>" style="width: 50px; height: 50px; border-radius: 50px"> &nbsp&nbsp <%=link_to "#{u.username}", user_path(u), class: "text-light" %></li>
                    <% end %>
                    
      
                <% end %>  
            </div>
        </div>
    </div>